@tailwind preflight;

@tailwind components;

@tailwind utilities;

/*.content {
  width: 50rem;
}*/

.font-serif {
  font-family: 'Merriweather', Constantia, Lucida Bright, Lucidabright, Lucida Serif, Lucida, DejaVu Serif, Bitstream Vera Serif, Liberation Serif, Georgia, serif;
}

.font-sans {
  font-family: 'Merriweather Sans', system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {

}

body {
  /*background-color: #fafafa;*/
  /*background: -webkit-gradient(linear, left top, left bottom, from(#f7eef1), to(#ffffff));
  background: -webkit-linear-gradient(top, #f7eef1, #ffffff);
  background: linear-gradient(to bottom, #f7eef1, #ffffff);*/
  background-color: #f7eef1;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-image: none;
    background-color: #201e22;
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

a:hover {
  cursor: pointer;
}

::selection {
  color: #ffffff;
  background-color: #C21136;
}

/*button:focus:not(:focus-visible) {
  outline: none;
}*/

.focus-outline-none:focus {
  outline: none;
}

abbr, abbr[title] {
  border-bottom: 1px dotted rgba(51, 51, 51, 0.5);
  cursor: help;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  aspect-ratio: attr(width) / attr(height);
}

@media only screen and (prefers-color-scheme: dark) {
  abbr, abbr[title] {
    border-bottom-color: rgba(174, 173, 174, 0.5);
  }
}

#main, #header {
  max-width: 1400px;
  margin: 0 auto;
}

#header nav, #footer {
  max-width: 1400px;
}

.ltt-header {
  background-color: rgba(255,255,255,0.95);
  border-bottom: 1px solid #e4e4e4;
  /*box-shadow: 0 0 5px rgba(0,0,0,0.07);*/
}

@supports (backdrop-filter: blur(5px)) {
  .ltt-header {
    backdrop-filter: saturate(180%) blur(20px);
    background-color: rgba(255,255,255,0.7);
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .ltt-header {
    font-weight: 100;
    border-bottom: 1px solid #2f2d31;
    background-color: rgba(0,0,0,0.95);
  }

  @supports (backdrop-filter: blur(5px)) {
    .ltt-header {
      background-color: rgba(0,0,0,0.7);
    }
  }
}

.menu-header a, .red-block {
  position: relative;
  padding: 10px;
  background-color: transparent;
  text-decoration: none;
  color: #333;
}

@media only screen and (prefers-color-scheme: dark) {
  .menu-header a {
    color: #e0e1e3;
  }
}

.red-block {
  color: #ffffff;
}

.menu-header a:hover, .menu-header a:focus, .red-block:hover, .red-block:focus {
  text-decoration: underline;
}

.menu-header a:before, .menu-header a:after, .red-block:before, .red-block:after {
  content: " ";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: transparent;
  -webkit-transform: skew(-30deg, 0deg);
  -moz-transform: skew(-30deg, 0deg);
  -o-transform: skew(-30deg, 0deg);
  -ms-transform: skew(-30deg, 0deg);
  transform: skew(-30deg, 0deg);
}

.menu-header a:before, .red-block:before {
  transform-origin: top left;
}

.menu-header a:after, .red-block:after {
  transform-origin: bottom right;
}

.red-block, .red-block:before, .red-block:after {
  background-color: #C21136;
}

.red-block {
  color: #ffffff;
}

.newspaper, .newspaper-truncated {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;*/
  grid-template-rows: auto;
  grid-gap: 1px;
  /*margin: 0 -16px;*/
  /*background-color: #DADCE0;*/
  background-color: #e4e4e4;
  /*background-color: hsl(214, 7%, 47%);*/
}

@media only screen and (prefers-color-scheme: dark) {
  .newspaper, .newspaper-truncated {
    background-color: #2f2d31;
  }
}

.cell {
  background-color: #f7eef1;
  padding: 1.5rem 0;
}

@media only screen and (prefers-color-scheme: dark) {
  .cell {
    background-color: #201e22;
  }
}

.newspaper .cell--0, .newspaper-truncated .cell--0 {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.newspaper .cell--1, .newspaper-truncated .cell--1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.newspaper .cell--2, .newspaper-truncated .cell--2 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.newspaper .cell--3, .newspaper-truncated .cell--3 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.newspaper .cell--4, .newspaper-truncated .cell--4 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

.newspaper .cell--5, .newspaper-truncated .cell--5 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}

.newspaper .cell--6, .newspaper-truncated .cell--6 {
  grid-column: 1 / span 1;
  grid-row: 7 / span 1;
}

.newspaper .cell--7, .newspaper-truncated .cell--7 {
  grid-column: 1 / span 1;
  grid-row: 8 / span 1;
}

.newspaper .cell--8, .newspaper-truncated .cell--8 {
  grid-column: 1 / span 1;
  grid-row: 9 / span 1;
}

.newspaper .cell--9, .newspaper-truncated .cell--9 {
  grid-column: 1 / span 1;
  grid-row: 10 / span 1;
}

.newspaper .cell--10, .newspaper-truncated .cell--10 {
  grid-column: 1 / span 1;
  grid-row: 11 / span 1;
}

@media (min-width: 768px) {
  .newspaper, .newspaper-truncated {
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr 1fr 1fr;*/
    grid-template-rows: auto;
    grid-gap: 1px;
  }

  .cell {
    padding: 1.5rem;
  }

  .newspaper .cell--0, .newspaper-truncated .cell--0 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    padding-left: 0;
  }

  .newspaper .cell--1, .newspaper-truncated .cell--1 {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    padding-left: 0;
  }

  .newspaper .cell--2 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    padding-right: 0;
  }

  .newspaper .cell--3 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    padding-right: 0;
  }

  .newspaper .cell--4 {
    grid-column: 1 / span 2;
    grid-row: 3 / span 1;
    padding-left: 0;
  }

  .newspaper .cell--5 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    padding-left: 0;
  }

  .newspaper .cell--6 {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    padding-left: 0;
  }

  .newspaper .cell--7 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 3;
    padding-right: 0;
  }

  .newspaper .cell--8 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    padding-right: 0;
  }

  .newspaper .cell--9 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    padding-right: 0;
  }

  .newspaper .cell--10 {
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
    padding-right: 0;
  }

  .newspaper-truncated .cell--2 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    padding-left: 0;
  }

  .newspaper-truncated .cell--3 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .newspaper-truncated .cell--4 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    padding-right: 0;
  }

  .newspaper-truncated .cell--5 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 1;
    padding-left: 0;
  }

  .newspaper-truncated .cell--6 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
    padding-right: 0;
  }

  .newspaper-truncated .cell--7 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    padding-right: 0;
  }

  .newspaper-truncated .cell--8 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    padding-right: 0;
  }

  .newspaper-truncated .cell--9 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
    padding-right: 0;
  }

  .newspaper-truncated .cell--10 {
    /*grid-column: 3 / span 1;
    grid-row: 6 / span 1;
    padding-right: 0;*/
    display: none;
  }
}

@media (min-width: 992px) {
  .newspaper, .newspaper-truncated {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /*grid-template-rows: 1fr 1fr 1fr;*/
    grid-template-rows: auto;
    grid-gap: 1px;
  }

  .newspaper .cell--0, .newspaper-truncated .cell--0 {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    padding-left: 1.5rem;
  }

  .newspaper .cell--1, .newspaper-truncated .cell--1 {
    grid-column: 2 / span 2;
    grid-row: 2 / span 1;
    padding-left: 1.5rem;
  }

  .newspaper .cell--2, .newspaper-truncated .cell--2 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }

  .newspaper .cell--3, .newspaper-truncated .cell--3 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }

  .newspaper .cell--4, .newspaper-truncated .cell--4 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .newspaper .cell--5, .newspaper-truncated .cell--5 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .newspaper .cell--6, .newspaper-truncated .cell--6 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
    padding-left: 1.5rem;
    padding-right: 0.5rem;
  }

  .newspaper .cell--7, .newspaper-truncated .cell--7 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 3;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }

  .newspaper .cell--8, .newspaper-truncated .cell--8 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }

  .newspaper .cell--9, .newspaper-truncated .cell--9 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
  }

  .newspaper .cell--10, .newspaper-truncated .cell--10 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    display: block;
  }

  .cell--0:hover, .cell--1:hover, .cell--2:hover, .cell--3:hover, .cell--4:hover, .cell--5:hover, .cell--6:hover, .cell--8:hover, .cell--9:hover, .cell--10:hover {
    /*box-shadow: 0 1px 1px 0 rgba(0,0,0,.15), 0 1px 1px 0 rgba(0,0,0,.08);*/
  }
}

.article-item {
  /*background-color: #efefef;*/
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 200px;
  height: 100%;
  text-align:left;
}

@media only screen and (prefers-color-scheme: dark) {
  .article-item p {
    font-weight: 100;
  }
}

.line-before:before {
  @apply ltt-bg-gray my-8;
  content: "";
  display: block;
  height: 2px;
  width: 60px;
}

.line-after:after {
  @apply ltt-bg-gray my-8 opacity-50;
  content: "";
  display: block;
  height: 2px;
  width: 60px;
}

/*nav .nuxt-link-active {*/
/*.nuxt-link-active {
  color: #fdff87;
}*/

@responsive {
  .text-6xl {
    font-size: 4rem;
  }

  .leading-tighter {
    line-height: 1.15;
  }

  .align-super {
    vertical-align: super;
  }

  .w-90 {
    width: 90%;
  }

  .top-0 {
    top: 0;
  }

  .right-0 {
    right: 0;
  }

  .bottom-0 {
    bottom: 0;
  }

  .left-0 {
    left: 0;
  }

  .-mr-20 {
    margin-right: -5rem;
  }

  .-ml-20 {
    margin-left: -5rem;
  }

  .width-50 {
    width: 50%;
  }

  .max-width-15 {
    max-width: 15rem;
  }

  .max-height-15 {
    max-height: 15rem;
  }

  .max-width-25 {
    max-width: 25rem;
  }

  .max-width-28 {
    max-width: 28rem;
  }

  .max-height-25 {
    max-height: 25rem;
  }

  .opacity-black-01 {
    background-color: rgba(0,0,0,0.1);
  }

  .opacity-black-02 {
    background-color: rgba(0,0,0,0.2);
  }

  .opacity-black-085 {
    background-color: rgba(0,0,0,0.85);
  }

  .opacity-white-01 {
    background-color: rgba(255,255,255,0.1);
  }

  .opacity-white-02 {
    background-color: rgba(255,255,255,0.2);
  }

  .flex-basis-100 {
    flex-basis: calc(100%);
  }

  .flex-basis-50 {
    flex-basis: calc(50%);
  }

  .flex-basis-40 {
    flex-basis: calc(40%);
  }

  .flex-basis-33 {
    flex-basis: calc(33.3%);
  }

  .flex-basis-28 {
    flex-basis: calc(28%);
  }

  .flex-basis-25 {
    flex-basis: calc(25%);
  }

  .flex-basis-20 {
    flex-basis: calc(20%);
  }

  .border-10 {
    border-width: 10px;
  }

  .border-20 {
    border-width: 20px;
  }

  .shadow-lg-custom {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.2), 0 4px 6px -2px rgba(0, 0, 0, 0.1);
  }

  .notch, .content-text-spacing blockquote {
    clip-path: polygon(2rem 0, 100% 0, 100% calc(100% - 3rem), calc(100% - 2rem) 100%, 0 100%, 0 3rem);
  }

  /*.bg-light-gray {
    background-color: #e4e4e4;
  }

  @media only screen and (prefers-color-scheme: dark) {
    .bg-light-gray {
      background-color: #2f2d31;
    }
  }*/
}

@variants hover, focus {
  .ltt-headline {
    /*color: #333;*/
    color: #431b0b;
  }

  @media only screen and (prefers-color-scheme: dark) {
    .ltt-headline {
      color: #eee;
    }
  }

  .ltt-text-red {
    color: #C21136;
  }

  .ltt-border-red {
    border-color: #C21136;
  }

  .ltt-bg-red {
    background-color: #C21136;
  }

  .ltt-text-pink {
    color: #c21152;
    color: hsl(338, 83.9%, 41.4%);
  }

  .ltt-border-pink {
    border-color: #c21152;
    border-color: hsl(338, 83.9%, 41.4%);
  }

  .ltt-bg-pink {
    background-color: #c21152;
    background-color: hsl(338, 83.9%, 41.4%);
  }

  .ltt-text-pink-50 {
    color: #c21152;
    color: hsla(338, 83.9%, 41.4%, 0.5);
  }

  .ltt-border-pink-50 {
    border-color: #c21152;
    border-color: hsla(338, 83.9%, 41.4%, 0.5);
  }

  .ltt-bg-pink-50 {
    background-color: #c21152;
    background-color: hsla(338, 83.9%, 41.4%, 0.5);
  }

  .ltt-text-gray {
    color: #666d75;
    /*color: hsl(214, 7%, 47%);*/
    color: hsl(214, 7%, 43%);
  }

  .ltt-border-gray {
    border-color: #4D4D4D;
    border-color: hsl(214, 7%, 47%);
  }

  @media only screen and (prefers-color-scheme: dark) {
    .ltt-border-gray {
      border-color: #2f2d31;
    }
  }

  .ltt-bg-gray {
    background-color: #4D4D4D;
    background-color: hsl(214, 7%, 47%);
  }

  .text-gray-333 {
    color: #333;
  }

  @media only screen and (prefers-color-scheme: dark) {
    .text-gray-333 {
      color: #aeadae;
    }
  }

  .border-gray-333 {
    border-color: #333;
  }

  @media only screen and (prefers-color-scheme: dark) {
    .border-gray-333 {
      border-color: #aeadae;
    }
  }

  .bg-gray-333 {
    background-color: #333;
  }

  @media only screen and (prefers-color-scheme: dark) {
    .bg-gray-333 {
      background-color: #aeadae;
    }
  }

  .text-light-gray {
    color: #e4e4e4;
  }

  .bg-light-gray {
    background-color: #e4e4e4;
  }

  .border-light-gray {
    border-color: #e4e4e4;
  }

  @media only screen and (prefers-color-scheme: dark) {
    .text-light-gray {
      color: hsl(214, 7%, 47%);
    }

    .bg-light-gray {
      background-color: #2f2d31;
    }

    .border-light-gray {
      border-color: #2f2d31;
    }
  }

  .text-shadow {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  .opacity-black-01 {
    background-color: rgba(0,0,0,0.1);
  }

  .opacity-black-02 {
    background-color: rgba(0,0,0,0.2);
  }

  .opacity-white-01 {
    background-color: rgba(255,255,255,0.1);
  }

  .opacity-white-02 {
    background-color: rgba(255,255,255,0.2);
  }

  .border-white-02 {
    border-color: rgba(255,255,255,0.2);
  }

  .border-white-04 {
    border-color: rgba(255,255,255,0.4);
  }
}

.dropcap > p:first-child::first-line, .highlight-first-line::first-line {
  font-weight: 700;
}

.dropcap > p:first-child::first-letter {
  /*initial-letter: 2;*/
  color: #C21136;
  text-transform: uppercase;
  font-size: 80px;
  float: left;
  position: relative;
  margin: -3px 6px -10px 0;
  line-height: 1em;
  font-weight: 700;
}

@-moz-document url-prefix() {
  .dropcap > p:first-child::first-letter {
    margin: 10px 8px -7px 0;
  }
}

@media only screen and (min-width: 768px) {
  .dropcap > p:first-child::first-letter {
    margin: -4px 8px -7px 0;
    font-size: 6rem;
  }

  @-moz-document url-prefix() {
    .dropcap > p:first-child::first-letter {
      margin: 12px 8px -7px 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  .dropcap > p:first-child::first-letter {
    font-size: 7.25rem;
  }
}

/*@media only screen and (min-width: 1023px) {
  .dropcap > p:first-child::first-letter {
    margin: -4px 8px -7px 0;
    font-size: 100px;
  }

  @-moz-document url-prefix() {
    .dropcap > p:first-child::first-letter {
      margin: 12px 8px -7px 0;
    }
  }
}*/

#main .content-text-spacing > p:first-child {
  border-left: 1rem solid #c21136;
  padding-left: 1rem;
  margin-left: -2rem;
}

.content-text-spacing p {
  margin-bottom: 2rem;
}

.content-text-spacing p:last-child {
  margin-bottom: 0;
}

.content-text-spacing h3 {
  margin-bottom: 1rem;
}

.content-text-spacing a {
  @apply ltt-text-red;
  text-decoration: none;
}

.content-text-spacing a:hover, .content-text-spacing a:focus {
  text-decoration: underline;
}

@media only screen and (prefers-color-scheme: dark) {
  .content-text-spacing {
    font-weight: 100;
  }
}

.content-text-spacing blockquote {
  position: relative;
  background-color: #e4e4e4;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .content-text-spacing blockquote {
    max-width: 28rem;
    float: right;
    margin-right: -5rem;
    margin-left: 2rem;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .content-text-spacing blockquote {
    background-color: #2f2d31;
  }
}

.content-text-spacing blockquote:before {
  color: #C21136;
  content: "“";
  font-size: 80px;
  /*float: left;*/
  position: absolute;
  /*margin: -3px 6px -10px 0;*/
  line-height: 1em;
  font-weight: 700;
  font-style: normal;
  left: 1rem;
}

@-moz-document url-prefix() {
  .content-text-spacing blockquote:before {
    /*margin: 10px 8px -7px 0;*/
  }
}

@media only screen and (min-width: 1023px) {
  .content-text-spacing blockquote:before {
    /*margin: -4px 8px -7px 0;*/
    font-size: 100px;
  }

  @-moz-document url-prefix() {
    .content-text-spacing blockquote:before {
      /*margin: 12px 8px -7px 0;*/
    }
  }
}

.content-text-spacing blockquote p {
  margin-left: 3rem;
  padding-left: 0.5rem;
  font-style: italic;
  color: #4D4D4D;
  color: hsl(214, 7%, 47%);
}

.dropcap figure {
  background-color: #e4e4e4;
  margin-bottom: 1.5rem;
}

@media (min-width: 992px) {
  .dropcap figure {
    max-width: 28rem;
    float: right;
    margin-right: -5rem;
    margin-left: 2rem;
  }
}

@media only screen and (prefers-color-scheme: dark) {
  .dropcap figure {
    background-color: #2f2d31;
  }
}

.dropcap figure figcaption {
  font-size: 1rem;
  padding: 0.25rem 1rem 0.5rem 1rem;
  color: #4D4D4D;
  color: hsl(214, 7%, 47%);
}

@media (min-width: 768px) {
  .dropcap figure figcaption {
    padding-top: 0;
  }
}

#main .content-text-spacing > p:last-child:after {
  color: #ffffff;
  background-color: #C21136;
  content: "LTT";
  display: inline-block;
  font-size: 12px;
  margin-left: 0.5rem;
  padding: 0.25rem;
  letter-spacing: 2px;
  line-height: 1;
  font-family: 'Merriweather Sans', system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  vertical-align: text-top;
}

@-moz-document url-prefix() {
  .hide-moz {
    display: none;
  }
}

@media all and (-ms-high-contrast:none) {
  .hide-moz { display: none; } /* IE10 */
  *::-ms-backdrop, .hide-moz { display: none; } /* IE11 */
}

.round-image {
  border-radius: 50%;
  /*box-shadow: 0 0 0 20px rgba(255,255,255,0.2), inset 0 0 3px rgba(115,114, 23, 0.8);*/
  /*box-shadow: 0 0 0 10px rgba(1,135,172,0.2);*/
  border: 20px solid rgba(255,255,255,0.2);
  /*border: 20px solid #f3e9d1;*/
}

.round-image-mini {
  border-radius: 50%;
  border: 4px solid rgba(255,255,255,0.2);
}

/*.transition-height-1 {
  transition: height 1s ease-in-out;
}*/

.transform-left {
  transform: perspective(1000px) rotateY(13deg) rotateX(5deg) rotateZ(-7deg) scaleY(0.9) scaleX(0.95) translateX(3%) translateY(-3%);
}

.transform-right {
  transform: perspective(1000px) rotateY(-13deg) rotateX(5deg) rotateZ(7deg) scaleY(0.9) scaleX(0.95) translateX(-3%) translateY(-3%);
}

.ani-sparkle, .ani-sparkle-once {
  position: relative;
  overflow: hidden;
}

.ani-sparkle:after, .ani-sparkle-once:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -moz-linear-gradient(-90deg, rgba(117, 35, 146, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(117, 35, 146, 0) 100%);
  background-image: -o-linear-gradient(-90deg, rgba(117, 35, 146, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(117, 35, 146, 0) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(117, 35, 146, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(117, 35, 146, 0) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(117, 35, 146, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(117, 35, 146, 0) 100%);
  background-image: linear-gradient(-90deg, rgba(117, 35, 146, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(117, 35, 146, 0) 100%);
}

.ani-sparkle:after {
  -moz-animation: slide 5s infinite;
  -o-animation: slide 5s infinite;
  -ms-animation: slide 5s infinite;
  -webkit-animation: slide 5s infinite;
  animation: slide 5s infinite;
}

.ani-sparkle-once:after {
  -moz-animation: slide 5s forwards;
  -o-animation: slide 5s forwards;
  -ms-animation: slide 5s forwards;
  -webkit-animation: slide 5s forwards;
  animation: slide 5s forwards;
}

.transition-ease-500 {
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

@keyframes slide {
	0% {transform:translateX(-100%);}
	20%, 100% {transform:translateX(100%);}
}

.hover-opacity-25:hover {
  opacity: 0.25;
}

.hover-opacity-50:hover {
  opacity: 0.50;
}

.hover-opacity-75:hover {
  opacity: 0.75;
}

.hover-opacity-100:hover {
  opacity: 1;
}

/* customise look of leaflet */

/*.leaflet-grab {
  cursor: move !important;
}

.leaflet-touch .leaflet-bar a {
  line-height: 27px !important;
}

.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border-width: 0 !important;
}

.leaflet-top {
  top: -8px !important;
}

.leaflet-left {
  left: 7px !important;
}

.leaflet-bar {
  box-shadow: none !important;
}

.leaflet-control-zoom a {
  box-shadow: 0 1px 5px rgba(0,0,0,0.65) !important;
}

.leaflet-bar a {
  border-radius: 4px !important;
  background-color: #ec008c !important;
  border: 2px solid #FFFFFF !important;
  color: #FFFFFF !important;
}

.leaflet-bar a:last-child {
  border: 2px solid #FFFFFF !important;
}

.leaflet-bar a:hover {
  background-color: #009fe3 !important;
  border: 2px solid #FFFFFF !important;
  color: #FFFFFF !important;
}

.leaflet-control-zoom-in {
  margin-top: 10px !important;
}

.leaflet-control-zoom-out {
  margin-top: 15px !important;
}*/

/* Leaflet End */

/*.input-checked input[type=checkbox]:checked + label, .input-checked input[type=radio]:checked + label {
  background-color: #fcaf43;
}*/

ul.bullet-check {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul.bullet-check li:before {
	content: "✓";
	position: absolute;
	left: 0;
}

/* iOS style checkbox */

.checkbox_switch label {
  /*margin: 0 0 20px 0;
  display: block;*/
  cursor: pointer;
  position: relative;
}

.checkbox_switch label:hover, .checkbox_switch label:focus {
  /*text-decoration: underline;*/
}

.checkbox_switch input[type=checkbox], .checkbox_switch input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /*background-color: #ca6f7f;*/
  background-color: rgba(202,111,127,0.5);
  border-radius: 34px;
  width: 60px;
  height: 34px;
  border: 0px solid #ffffff;
  vertical-align: bottom;
}

.checkbox_switch input[type=checkbox]:hover, .checkbox_switch input[type=checkbox]:focus, .checkbox_switch input[type=radio]:hover, .checkbox_switch input[type=radio]:focus {
  background-color: #c51230;
}

.checkbox_switch input[type=checkbox]:before, .checkbox_switch input[type=radio]:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  box-sizing: inherit;
  -webkit-transition: .4s;
  -moz-transition: .4s;
  -o-transition: .4s;
  -ms-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.checkbox_switch input[type=checkbox]:checked:before, .checkbox_switch input[type=radio]:checked:before {
  -webkit-transform: translateX(26px);
  -moz-transform: translateX(26px);
  -o-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.checkbox_switch input[type=checkbox]:checked, .checkbox_switch input[type=radio]:checked {
  background-color: #c51230;
}

.checkbox_switch input[type=checkbox]:checked + .checkbox-label, .checkbox_switch input[type=radio]:checked + .checkbox-label {
  /*color: #fdff87;*/
}

.checkbox_switch .checkbox-label {
  vertical-align: text-top;
}

/* End for iOS style checkbox */

.facebook-bg {
  background-color: #4172B8;
}

.twitter-bg {
  background-color: #1DA1F2;
}

.linkedin-bg {
  background-color: #0077B5;
}

.instagram-bg {
  background-color: #E4405F;
}

.pinterest-bg {
  background-color: #BD081C;
}

.apple-news-bg {
  background-color: #FD345A;
}

.bg-black-0 {
  background-color: rgba(0,0,0,0);
}

.bg-black-1-4 {
  background-color: rgba(0,0,0,0.25);
}

.leading-snug {
  line-height: 1.375;
}

.text-gray-700 {
  color: #4a5568 !important;
}

.right-0 {
  right: 0 !important;
}

.inset-y-0 {
  top: 0 !important;
  bottom: 0 !important;
}

.text-none {
  font-size: 0;
}

.list-none {
  list-style: none;
}

.markdown p {
  @apply mt-0 mb-6;
}

.markdown ul {
  @apply mb-6;
}

pre {
  @apply my-8;
}

.light-mode-inline {
  display: inline-block;
}

.dark-mode-inline {
  display: none;
}

@media only screen and (prefers-color-scheme: dark) {
  .light-mode-inline {
    display: none;
  }

  .dark-mode-inline {
    display: inline-block;
  }
}

@media print {
  body, .newspaper, .newspaper-truncated, .cell {
    background-image: none !important;
    background-color: #ffffff !important;
  }

  @page {
    size: A4 portrait;
  }

  .dropcap a:link:after, .dropcap a:visited:after {
     content: " (" attr(href) ") ";
     font-size: 90%;
  }

  .dropcap a[href^="/"]:after {
    content: " (https://www.localtransport.today" attr(href) ") ";
  }

  #main {
    padding-top: 0;
    display: block !important; /* Flexbox causes problems with the 'page-break-inside' print setting */
  }

  #main h2, #main h3 {
    page-break-after: avoid; /* Prevents page-breaks right after these elements, because that looks odd */
  }

  #main figure, #main aside, #main blockquote {
    page-break-inside: avoid; /* Avoid page-breaks inside these elements */
  }

  #main p {
    orphans: 2;
    widows: 2;
  }

  #main figure, #main aside {
    float: none;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .print\:mx-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .author {
    display: block;
  }

  .author-photo {
    width: 30% !important;
    display: inline-block !important;
    margin-right: 2rem;
    vertical-align: top;
  }

  .author-bio {
    width: 50% !important;
    display: inline-block !important;
    vertical-align: top;
  }

  .content-text-spacing p {
    font-size: 1.5rem !important;
  }

  article {
    max-width: 100% !important;
  }

  article aside h4, article aside ul {
    display: inline-block !important;
  }

  #header, #footer, .no-print {
    display: none !important;
  }
}
