
.commento-root .commento-submit-button {
  background-color: #c21136;
}

.commento-root .commento-sort-policy-buttons-container .commento-sort-policy-buttons .commento-sort-policy-button-selected {
  color: #c21136;
}

.commento-root .commento-mod-tools::before {
  color: #c21136;
}

.commento-root a {
  color: #c21136;
}

.commento-root a:hover, .commento-root a:focus {
  text-decoration: underline;
}

.commento-root * {
  font-size: inherit;
}

.commento-body p {
  margin-bottom: 2rem;
}

.commento-body p:last-child {
  margin-bottom: 0;
}
