
.commento-root .commento-submit-button {
  background-color: #c21136;
}

.commento-root .commento-sort-policy-buttons-container .commento-sort-policy-buttons .commento-sort-policy-button-selected {
  color: #c21136;
}

.commento-root .commento-mod-tools::before {
  color: #c21136;
}

.commento-root a, .commento-root .commento-login-box-container .commento-login-box .commento-email-container .commento-email .commento-email-button, .commento-root .commento-login-box-container .commento-login-box .commento-email-container .commento-email .commento-email-button:hover {
  color: #c21136;
}

.commento-root a:hover, .commento-root a:focus {
  text-decoration: underline;
}

.commento-root * {
  font-size: inherit;
}

.commento-root .commento-login-box-container .commento-login-box button, .commento-root .commento-login-box-container .commento-login-box input, .commento-root .commento-login-box-container .commento-login-box textarea {
  font-family: inherit;
}

.commento-root .commento-card .commento-body p, .commento-root blockquote {
  margin-bottom: 1rem;
}

.commento-root .commento-card .commento-body p:last-child {
  margin-bottom: 0;
}

.commento-root .commento-login-box-container .commento-login-box {
  border: 1px solid #e4e4e4;
}

.commento-root .commento-avatar-img {
  display: none;
}
